extends ../layouts/main-layout

block title
    title Reset Password

block styles 
    link(rel="stylesheet", href="/css/forms.css")

block content
    main    
        form.login-form(action="/set-new-password" ,method="POST")
            input(type="hidden", name="_csrf", value=csrfToken)
            input(type="hidden", name="passwordResetToken", value=passwordResetToken)
            .form-control
                label(for="newPassword") New Password
                input(type="password", name="newPassword", id="newPassword")
            .form-control
                label(for="cNewPassword") Confirm New Password
                input(type="password", name="cNewPassword",id="cNewPassword" )
            button.btn(type="submit") Submit
        case msg 
            when "passnomatch"
                p.errMsg passwords don't match
            when "invaildpass"
                p.errMsg A password should at least be 4 charchters long and contains 1 capital letter, 1 number and 1 small letter 