extends ../layouts/main-layout

block title
    title Reset Password

block styles 
    link(rel="stylesheet", href="/css/forms.css")

block content
    main  
        h3(align="center") Enter the your email to receive a password reset method
        form.login-form(action='/pass-reset' ,method="POST")
            input(type="hidden", name="_csrf", value=csrfToken)
            .form-control
                label(for="email") Email
                input(type="email", name="email", id="email")
            button.btn(type="submit") Submit
        case msg
            when 'noemailfound'
                p.errMsg Couldn't find any matching email. enter an already registerd email 
            when "invaildValue"
                p.errMsg enter a vaild email 
